spring:
  application:
    name: rate-limiter-service
  
  datasource:
    url: jdbc:h2:mem:ratelimiterdb
    driverClassName: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
      timeout: 2000ms
      jedis:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info
  endpoint:
    health:
      show-details: always

rate-limiter:
  default:
    time-window:
      requests: 100
      window-seconds: 60
    monthly:
      requests: 10000
  global:
    requests-per-second: 1000
  throttling:
    mode: HARD # trottling set to hard by default...

logging:
  level:
    com.corporation.ratelimiter: DEBUG
    org.springframework.data.redis: INFO

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha

